/* PC */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #F2EAE2;
}

main {
	display: flex;
	width: 600px;
	height: 450px;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
}

.hero-img-sp {
	display: none;
}

section {
	margin-left: 31.5px;
}

.sub {
	margin-top: 32px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 5px;
	color: #6C7289;
}

h1 {
	width: 236px;
	margin-top: 20px;
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: #1C232B;
}

p {
	width: 237px;
	margin-top: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	color: #6C7289;
	
}
.price {
	margin-top: 29px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.initial-price {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: #3D8168;
}

.discount-price {
	margin-left: 19px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 23px;
	text-decoration-line: line-through;
	color: #6C7289;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 236px;
	height: 48px;
	background: #3D8168;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

button:hover {
	cursor: pointer;
}

button:active {
	background: #1A4032;
	transition: 0.15s;
}

.cart {
	margin-right: 11.61px;
}

/* SP */
@media (max-width: 768px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background: #F2EAE2;
	}
	
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 343px;
		height: 611px;
		background: #FFFFFF;
		border-radius: 10px;
		overflow: hidden;
	}

	.hero-img-pc {
		display: none;
	}

	.hero-img-sp {
		display: block;
	}
	
	section {
		margin-left: 0px;
	}
	
	.sub {
		margin-top: 24px;
		font-family: 'Montserrat';
		text-transform: uppercase;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 5px;
		color: #6C7289;
	}
	
	h1 {
		width: 295px;
		margin-top: 12px;
		font-family: 'Fraunces';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 32px;
		color: #1C232B;
	}
	
	p {
		width: 295px;
		margin-top: 16px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 23px;
		color: #6C7289;
		
	}
	.price {
		margin-top: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.initial-price {
		font-family: 'Fraunces';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 32px;
		color: #3D8168;
	}
	
	.discount-price {
		margin-left: 19px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 23px;
		text-decoration-line: line-through;
		color: #6C7289;
	}
	
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		width: 295px;
		height: 48px;
		background: #3D8168;
		border-radius: 8px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
	}
	
	.cart {
		margin-right: 11.61px;
	}
}
  
  
  